.center {
	text-align: center;
}

.cat {
	animation-name: anim;
	animation-duration: 1s;
}

@keyframes anim {
	0% {width: 0px; height: 0px;}
	100% {width: 315px; height: 300px;}
}

.overlay {
	display: none;
	height: 30%;
	width: 90%;
	top:35%;
	left:50%;
	padding-top: 20px;
    position: absolute;
    border-radius: 5px;
	background-color: rgba(255,255,255,1);
    z-index: 999;
    box-shadow: 0 0 0 99999px rgba(0,0,0,0.5);
    animation-name: slide-left;
    animation-duration: 0.5s;
   	animation-fill-mode:forwards;
}

@keyframes slide-left {
	0% {left: -1150px;}
	100% {left: 75px;}
}