<nav class="navbar navbar-inverse navbar-fixed-bottom footer">
	<div class="container-fluid">
		<div class="row not-styled">
			<div class="col-xs-6">
				&copy; 2015 Mohsin Ul Haq. All rights reserved
			</div>
			<div class="col-xs-6 text-right">
				<a href="https://in.linkedin.com/in/mohsinulhaq"><img src="http://static.viewbook.com/images/social_icons/linkedin_32.png"></a>
				<a href="https://facebook.com/mohsinulhaq" ><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"></a>
				<a href="https://twitter.com/mohsinulhaq"><img src="http://static.viewbook.com/images/social_icons/twitter_32.png"></a>
			</div>
		</div>
	</div>
</nav>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/fbsdksetup.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/' ~ script) }}"></script>
</body>
</html>