{% include 'header.html' %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<select name="" id="">
					<option value="">Mohsin Ul Haq</option>
					<option value="">Arman Ul Haq</option>
					<option value="">Mohsin Ballani</option>
					<option value="">Paresh Dudath</option>
					<option value="">Pritesh Mittal</option>
				</select>
			</div>
		</div>
	</div>
{% include 'footer.html' %}